$heart-beat-color: #ef2b2b;

@keyframes beatHeart {
  0% {
    transform: scale(1);
    color: $heart-beat-color;
  }
  25% {
    transform: scale(1.1);
    color: lighten($heart-beat-color, 10%);
  }
  40% {
    transform: scale(1);
    color: $heart-beat-color;
  }
  60% {
    transform: scale(1.1);
    color: lighten($heart-beat-color, 10%);
  }
  100% {
    transform: scale(1);
    color: $heart-beat-color;
  }
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.footer {
  padding: var(--app-spacer);
  background: var(--header-bg-color);
  color: var(--body-text-color);
  text-align: center;
}

.hearts {
  color: #ef2b2b;
  animation-name: beatHeart;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.banner {
  margin: -(var(--app-spacer));
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 200px;
}

.courseGallery {
  margin: var(--app-spacer);
  margin-top: 0;
  display: grid;
  grid-gap: var(--app-spacer);
  // grid-auto-rows: 175px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;
}

.coursesBox {
  padding: var(--app-spacer);
  border: 1px solid #676767;
  border-radius: var(--app-border-radius);

  img {
    height: auto;
    max-height: 240px;
  }
  h4 {
    font-size: 2em;
    margin-bottom: calc(var(--app-spacer) / 2);
  }
}

.description {
  p {
    margin: var(--app-spacer) 0;

    &::first-letter {
      font-size: 1.2rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
