.description {
  p {
    margin: var(--app-spacer) 0;

    &::first-letter {
      font-size: 1.2rem;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.affiliate {
  text-align: center;
  max-width: 450px;
  width: 100%;
  margin: 40px auto;
}
